/* Variable Declaration */
:root {
  /* General */
  --font-family: "Inter", sans-serif;
  --big-font: 40px;
  --medium-font: 24px;
  --small-font: 12px;
  --paragraph-font: 20px;
  --main-bgc: #e5e5e5;
  --primary-bgc: #fff;
  --main-clr: #36b37e;
  --primary-clr: #172b4d;
  --secondary-clr: #3a4a42;
  --neutral-clr: #42526e;
  --box-width: 327px;
  --display: flex;

  /* Hamburger / Nav */
  --hamburger-clr: #28352f;
  --nav-bgc: #fff;
  --nav-clr: #3a4a42;

  /* Boxes */
  --box-bgc: #d0d9d4;
  --box-border-radius: 8px;
  --box-border: 1px solid #d0d9d4;
  --box-height: 474px;
  --second-height: 352px;
  --second-border: 1px solid #c1c7d0;
  --second-bgc: #ebf0ee;

  /* transition */
  --transition: all 0.3s linear;

  /* Input */
  --input-main-clr: #6b778c;
  --textarea-border: 1px solid #60c095;
  --textarea-height: 114px;
  --input-border: 1px solid #d0d9d4;
  --input-height: 48px;
  --input-radius: 4px;

  /* Buttons */
  --button-font: "Inter", sans-serif;
  --button-font-size: 17px;
  --button-padding: 12px;
  --button-bgc: #36b37f;
  --button-clr: #fff;
  --button-hover: #36b37f;
  --button-box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  --button-border-radius: 4px;
}

/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3a4a42;
}

input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  padding: 7px;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-family);
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

/* end of general styles */

/* Main */
.nav-bar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 92px;
  padding: 10px;
  align-items: baseline;
}

.heading,
.heading-one {
  color: var(--primary-clr);
  font-weight: 700;
  padding-top: 25px;
  font-family: Inter, sans-serif;
  font-size: var(--big-font);
  line-height: 62px;
  text-align: center;
}

.heading-container {
  width: var(--box-width);
  height: 97px;
  display: var(--display);
  align-items: center;
  text-align: center;
  margin: 5rem auto auto auto;
}

.heading-two {
  color: var(--main-clr);
  font-size: var(--big-font);
  margin-block-end: 0;
  margin-block-start: 0;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
}

.header-title {
  margin: 15px 0 0 15px;
  display: var(--display);
  align-items: center;
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

/*
===============
Sidebar
===============
*/

.sidebar-toggle {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #28352f;
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out;
  padding: 0 1rem 0 0;
}
.sidebar-toggle:hover {
  color: #67798e;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  color: #67798e;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 34px 46px;
}

.close-btn:hover {
  color: #67798e;
  transform: rotate(360deg);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  transition: var(--transition);
  transform: translate(-100%);
}
.show-sidebar {
  transform: translate(0);
  background-color: #fff;
}

.navbar {
  height: 24px;
  width: 251px;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #3a4a42;
  gap: 40px;
}

.info-section {
  background-image: url(./images/mobile@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 648px;
  text-align: center;
  background-position: center center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.section-title {
  width: var(--box-width);
  height: 192px;
  margin: 0 auto;
  padding: 2rem 0;
}

.my-info {
  color: var(--primary-clr);
  font-size: var(--paragraph-font);
  text-align: center;
  width: var(--box-width);
  height: 164px;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 30px;
  padding: 0;
}

/* Social Media */
.social-media-container {
  margin-top: 150px;
}

/* Disabled */
.disabled {
  width: 60px;
  height: 60px;
  margin: 40px 0 25px 0;
}

/* grid container  */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

/* line */
.line {
  width: 48px;
  height: 4px;
  background: #36b37e;
  border-radius: 24px;
  margin: 0 auto;
}

/* Boxes */
.project-tile {
  width: var(--box-width);
  height: var(--box-height);
  border: var(--box-border);
  background: var(--second-bgc);
  border-radius: var(--box-border-radius);
  margin: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 12px;
}

.box {
  width: 326px;
  height: 222px;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;
  margin: 245px 0 0 0;
}

.tile-heading {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--secondary-clr);
  font-weight: 600;
  line-height: 32px;
  font-size: var(--medium-font);
}

.tile-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tile-1 {
  width: 103px;
  height: 32px;
  padding: 8px 12px 8px 12px;
  border-radius: 4px;
  color: var(--secondary-clr);
  background: var(--main-bgc);
  margin: 5px;
  font-size: 12px;
}

.tile-2 {
  width: 45px;
  height: 32px;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  color: var(--secondary-clr);
  background: var(--main-bgc);
  font-size: 12px;
  margin: 5px;
}

.tile-3 {
  width: 82px;
  height: 32px;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  color: var(--secondary-clr);
  background: var(--main-bgc);
  font-size: 12px;
  margin: 5px;
}

.tile-4 {
  width: 51px;
  height: 32px;
  border-radius: 4px;
  padding: 8px 12px 8px 12px;
  color: var(--secondary-clr);
  background: var(--main-bgc);
  font-size: 12px;
  margin: 5px;
}

.boxes {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* Buttons */
#button {
  padding: var(--button-padding);
  color: var(--button-clr);
  background: var(--button-bgc);
  border-radius: var(--button-border-radius);
  font-size: var(--button-font-size);
  border: none;
  font-family: var(--button-font);
  font-weight: 500px;
  font-style: normal;
  margin: 15px;
  text-align: center;
  align-items: center;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

button:hover {
  background: #36b37f;
  box-shadow: var(--button-box-shadow);
  cursor: pointer;
  font-size: 18px;
}

button:enabled {
  background: #36b37f;
}

button:active {
  background: #008552;
}

/*  Language,framework & skills */
.abilities {
  width: var(--box-width);
  height: var(--second-height);
  border-radius: var(--box-border-radius);
  background: var(--second-bgc);
  border: var(--box-border);
  margin: 0 0 20px 0;
}

.abilities-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.heading-three {
  font-size: var(--medium-font);
  color: #344563;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.language > li {
  color: var(--button-bgc);
  border-radius: 8px;
  background-color: #fff;
  padding: 12px;
  margin: 13px 5px;
}

.skills {
  color: var(--button-bgc);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.skills > li {
  border-radius: 8px;
  background-color: #fff;
  padding: 12px;
  margin: 13px 5px 0 5px;
}

.framework {
  color: var(--button-bgc);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

.framework > li {
  border-radius: 8px;
  background-color: #fff;
  padding: 15px;
  margin: 13px 5px 0 5px;
}

/* About Me */
.about-me {
  margin: 0 auto;
}

.description {
  color: var(--neutral-clr);
  font-size: var(--paragraph-font);
  width: 351px;
  height: 189px;
  text-align: center;
  margin: 0 auto;
  line-height: 32px;
}

/* Contact form */
.contact {
  font-size: var(--big-font);
  color: var(--primary-clr);
  width: var(--box-width);
  height: 363px;
  text-align: center;
  margin: 0 auto;
}

.contact-container {
  margin: 0 0 50px 0;
}

/* Forms */
form {
  margin: 100px 0 0 0;
}

input[type="text"],
input[type="email"] {
  width: var(--box-width);
  background-color: var(--primary-bgc);
  height: var(--input-height);
  border: var(--input-border);
  border-radius: var(--input-radius);
  color: var(--input-main-clr);
  outline: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 15px 16px;
}

textarea {
  width: var(--box-width);
  border: var(--textarea-border);
  height: var(--textarea-height);
  border-radius: var(--input-radius);
  color: #091e42;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 0 auto;
  padding: 15px 16px;
}

.email {
  font-size: var(--paragraph-font);
  color: var(--neutral-clr);
  margin: 5px 0 0 0;
  text-align: center;
}

.list-group {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.bottom-line {
  width: 33%;
  height: 6px;
  border-radius: 7px;
  background-color: #0d141e;
  margin: 60px auto;
}

@media screen and (min-width: 768px) {
  /* Header */
  .header {
    display: none;
  }

  /* Nav */
  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #344563;
    font-weight: bold;
    font-size: 17px;
    padding-top: 10px;
  }

  /* Info section */
  .info-section {
    background-image: url(./images/Desktop.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    gap: 12px;
    height: 1050px;
    justify-content: center;
    align-items: center;
    margin: auto 0;
  }

  .header-social {
    padding-top: 0;
  }

  .section-title {
    width: 920px;
    height: 114px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.37px;
    animation-duration: 3s;
    animation-name: slide-in;
  }

  .my-info {
    width: 51%;
    padding: 20px;
    height: 75px;
    margin: auto;
    margin-top: 51px;
    margin-bottom: 0;
  }

  .disabled {
    margin: 48px;
  }

  .disabled:hover {
    background: #36b37e;
  }

  /* works/projects section */
  .heading-one {
    width: 447px;
    height: 48px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
  }

  .line {
    display: none;
  }

  .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
    margin: auto;
    width: 70%;
  }

  /* About me */
  .about-me {
    padding-top: 100px;
    padding-bottom: 30px;
    background: url(./images/Group.png) bottom right,
      url(./images/bottom-left.png) bottom left;
    background-position: cover;
    background-repeat: no-repeat;
  }

  .description {
    width: 51%;
    height: 96px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    padding: 24px 0;
  }

  .des-btn {
    margin: 55px;
  }

  /* Language,framework & Skills */
  .abilities-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
    width: 70%;
    margin: auto;
    padding: 80px 0 0 0;
  }

  /* Contact form */
  .contact-container {
    background: url(./images/contact\ form-illustratoin-3-desktop.png) bottom
        right,
      url(./images/Frame-center.png) bottom left,
      url(./images/illustration-1-contact-form-desktop.png) bottom left;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 93px;
  }

  /* .list-group */
  .contact {
    display: flex;
    align-items: center;
    width: 463px;
    height: 256px;
    font-weight: 700;
    font-size: 30px;
    line-height: 52px;
    margin: 30px;
  }

  .btn {
    margin-right: 400px;
  }

  .email {
    display: none;
  }

  input[type="text"],
  input[type="email"] {
    height: 48px;
    border-radius: 4px;
    width: 500px;
    border: 1px solid #d0d9d4;
  }

  textarea {
    height: 114px;
    width: 500px;
    border-radius: 4px;
    border: 1px solid #60c095;
  }

  .bottom-line {
    display: none;
  }
}

/* Animations */
@keyframes slide-in {
  from {
    margin-bottom: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-bottom: 25%;
    width: 150%;
  }

  to {
    margin-bottom: 0%;
    width: 100%;
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}
